<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alanbuchanan's URL Shortener</title>
	<link href='https://fonts.googleapis.com/css?family=Yantramanav:100' rel='stylesheet' type='text/css'>
	<style>
		code {display: block;}
		h1, h2, h3, h4, h5, h6 {font-family: 'Yantramanav', sans-serif;}
		body {background-color: #EEEEEE;}
	</style>
</head>
<body>
	<h1>Alanbuchanan's URL Shortener</h1>

	<h3>This is a small service for returning an alias to an existing URL. It can be used as a URL shortener.</h3>
	<h3>Go ahead and append this url with <code>/new/</code> followed by a URL of your choice, and you'll receive an alias of the URL. </h3>

	<h4>Example input:</h4>
	<code>https://shortenthisurl.herokuapp.com/new/github.com</code>

	<h4>Example output</h4>
	<code>{ shortUrl: "https://shortenthisurl.herokuapp.com/iH7Z", originalUrl: "http://github.com" }</code>
</body>
</html>